.results {
  text-align: center;
  background-color: #03045E;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 25px;
}

.results button {
  background-color: whitesmoke;
  color: black;
}

.results button:hover {
  opacity: 75%;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  margin: 10px 0;
}

table.questionsTable {
  margin: 0 auto;
  border-collapse: collapse;
  /* width: 80%; */
}

table.questionsTable th,
table.questionsTable td {
  padding: 9px;
  text-align: center;
  font-size: 20px
}

table.questionsTable tbody tr {
  background-color: #ede2e2;
}

.questionsContainer {
  border-radius: 10px;
  overflow: hidden;
}

.scroll-top-button {
  position: fixed;
  right: 20px; 
  bottom: 20px; 
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}