.searchResults{
    padding: 50px;
    &__card{
        border: 1px solid white;
        border-radius:15px;
        padding: 20px;
        &__environment{
            font-style: italic;
        }
        &__description{
            font-size: 1.3em;
        }
    }
}